.dev-profile-wrapper{
  background-color: #eeeeee;

  li {
    list-style-type: none;
    line-height: 1.25rem;
  }

  .subtitle {
    margin: 1% 0 0 1%;
  }

  .dev-info-container {
  }

  .basic-info-background {
    background-color: orange;
    // background-image: url('http://wallpaper-gallery.net/images/cool-background-wallpaper/cool-background-wallpaper-27.jpg');
    margin-top: 0;
    color: white;
  }

  .basic-info {
    background: rgba(0, 0, 0, 0.8);
    max-width: 80%;
    margin: auto
  }

  .content {
    font-family: 'Open Sans', sans-serif;
    max-width: 80%;
    margin: auto;
    text-align: center;

    ul {
      margin-top: 0;
      padding: 0 0 2rem 0;
      display: block;

    }

  }

  .dev-name{
    margin-bottom: 0.33rem;

  }

  .dev-photo{
    max-width: 15rem;
    border-radius: 50%;
  }

  .portfolio-projects {
    h2 {
      margin: 0
    }
  }

  .portfolio-project-tile, .bio, .skills {
    background-color: white;
    border: 1px solid silver;
    margin-bottom: .75rem;
    padding: 0 2%;
  }

  .skills-bio-section {
    margin-top: 2.3rem;
  }
}
