.org-profile-wrapper {

  h2 {
    color: #D35348
  }

  .org-info {
    background-color: rgba(39, 46, 72, .8);
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 3%;

    p {
      font-size: 1.1rem;
    }
  }

  .contact-image {
    border-radius: 50%;
  }

  .contact-name {
    line-height: .5rem;
  }

  .org-logo {
    max-height: 15rem;
    border-radius: 50%;
  }

  .dark-grey-background {
    background: linear-gradient(to top right, #D35348, darken(#F9C680, 20%));
  }

  .off-white-background {
    background-color: lighten(#F3E4D8, 15%);
    height: 40vh;
  }
}
